<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{code}} {{section}}</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/offcanvas.css" rel="stylesheet">
    <script src="../js/ie-emulation-modes-warning.js"></script>
    {{> woopra}}
  </head>

  <body>
    {{> nav-bar}}

    <div class="container">
      {{#if breadcrumbs}}
        <ol class="breadcrumb">
          <li><a href="/classes/subjects">Subjects</a></li>
          <li><a href="/classes/subjects/{{code}}">{{code}} Classes</a></li>
        </ol>
      {{/if}}

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          {{#if topics.length}}
            {{#if topic}}
              <p class="pull-right visible-xs topic-label" id="{{topic}}">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{{topic}}</button>
              </p>
            {{else}}
              <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">All Topics</button>
              </p>
            {{/if}}
          {{/if}}

          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            {{#if topics.length}}
            <div class="list-group">
              <h2>Topics</h2>
              {{#if topic}}
                <a href="/classes/{{_id}}" class="list-group-item">All</a>
              {{else}}
                <a href="/classes/{{_id}}" class="list-group-item active">All</a>
              {{/if}}
              {{#each topics}}
                <a href="/classes/{{../_id}}?topic={{this}}" class="list-group-item topic-item" id="{{this}}">{{this}}</a>
              {{/each}}
            </div>
            {{/if}}
          </div>
          <div class="jumbotron">
            <h4 class="class-header" id="{{_id}}">{{code}} {{section}}</h4>
            <h1>{{title}}</h1>
            <br>
            <p>Click to view notes or upload notes.</p>
            <br>
            {{#if isAdded}}
              <a class="btn btn-md btn-primary remove-class" role="button" id="{{_id}}">Remove Class</a>
              <a class="btn btn-md btn-primary" href="/upload/{{_id}}" role="button">Upload Notes</a>
            {{else}}
              <a class="btn btn-md btn-primary add-class" role="button" id="{{_id}}">Add Class</a>
            {{/if}}
          </div>
          <div class="row">
            {{#each notes}}
            <div class="col-xs-6 col-lg-4">
              <h2>{{title}}</h2>
              <p>By {{uploader.firstName}} {{uploader.lastName}}</p>
              {{score}} people found these notes helpful.
              <br>
              <br>
              <p><a class="btn btn-default" href="/notes/{{_id}}" role="button">View details &raquo;</a>
              </p>
            </div>
          {{/each}}
          </div>
        </div
      </div>
      <hr>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/class.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/offcanvas.js"></script>
  </body>
</html>
