<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Upload Notes</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    {{> woopra}}
  </head>

  <body>
    {{> nav-bar}}

    <div class="container outer-edit" id="{{_id}}">
      <div class="jumbotron">
        <div class="container">
          <h3><a href="/classes/{{_id}}" class="class-link" id="{{class._id}}">{{class.code}} {{class.section}}</a></h3>
          <h1>Edit Note</h1>
        </div>
      </div>

      <div class="btn-group-vertical" role="group" aria-label="...">
        <h3 class="topic-title" id="{{topic}}">Topic</h3>
        {{#each class.topics}}
          <button type="button" class="btn btn-default topic-btn" id="{{this}}" style="outline: 0">{{this}}</button>
        {{/each}}
        {{#if class.topics.length}}<br>{{/if}}
        <label for="comment">
          {{#if class.topics.length}}Or enter a new topic:
          {{else}}Enter a new topic:
          {{/if}}
        </label>
        <input class="form-control" placeholder="Topic" id="note-topic">
      </div>

      <br>
      <br>
      <br>
      <div>
        <h3>Document Title</h3>
        <input class="form-control" value="{{title}}" placeholder="Title" id="note-title">
      </div>

      <br>
      <br>

      <div>
        <h3>Submit Text or File</h3>

        {{#if text.length}}
          <div id="text-form">
            <label for="comment">Type/Copy Notes:</label>
            <textarea class="form-control" rows="6" id="note-text">{{text}}</textarea>
            <br>
            <a class="btn btn-primary ladda-button" data-style="expand-right" id="submit-text">Update Text</a>
          </div>
        {{/if}}

        <br>
        <br>
        <br>

        {{#if url.length}}
          <div id="file-form">
            <label id="filename" for="comment">Link to file:</label>
            <br>
            <input value="{{url}}" class="form-control" placeholder="Link/URL" id="note-file">
            <br>
            <a class="btn btn-primary ladda-button" data-style="expand-right" id="submit-file">Submit File</a>
          </div>
        {{/if}}
        <br>
        <br>
        <br>
        <br>
      </div><!-- /.row -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/edit.js"></script>

    <!-- button loading spinner -->
    <link rel="stylesheet" href="/css/ladda-themeless.min.css">
    <script src="/js/spin.min.js"></script>
    <script src="/js/ladda.min.js"></script>
  </body>
</html>
