<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>My Class Noats</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    {{> woopra}}
  </head>

  <body>
    {{> nav-bar}}

    <div class="jumbotron">
      <div class="container">
        <h1>My Class Noats</h1>
        <p>View your class notes or your upload own notes to the class page.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
      {{#if classes.length}}
        {{#each classes}}
          <div class="col-md-3">
            <h2>{{code}} {{section}}</h2>
            <h4>{{title}}</h4>
            <p><a class="btn btn-default" href="/classes/{{_id}}" role="button">View notes</a></p>
            <br>
          </div>
        {{/each}}
      {{else}}
        <h4>You haven't added any classes yet. Click "Find Classes" above or click <a href="/classes/subjects">here</a>  to find classes to add. Once you add a class, you can upload notes for that class.</h4>
      {{/if}}
    </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
