<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Upload Notes</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Noats Home</a>
          <a class="navbar-brand" href="/classes/subjects">Classes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
        <div class="container">
          <h3><a href="/classes/{{_id}}" class="class-link" id="{{_id}}">{{code}} {{section}}</a></h3>
          <h1>Upload Notes</h1>
        </div>
      </div>

      <div class="btn-group-vertical" role="group" aria-label="...">
        <h3>Topic</h3>
        {{#each topics}}
          <button type="button" class="btn btn-default topic-btn" id="{{this}}" style="outline: 0">{{this}}</button>
        {{/each}}
        {{#if topics.length}}<br>{{/if}}
        <label for="comment">
          {{#if topics.length}}Or enter a new topic:
          {{else}}Enter a new topic:
          {{/if}}
        </label>
        <input class="form-control" placeholder="Topic" id="note-topic">
      </div>

      <br>
      <br>

      <div class="btn-group-vertical" role="group" aria-label="...">
        <h3>Document Title</h3>
        <input class="form-control" placeholder="Title" id="note-title">
      </div>

      <br>
      <br>

      <div>
        <h3>Submit Text or File</h3>
        <div class="input-group">

          <form role="form">
            <div class="form-group">
              <label for="comment">Type/Copy Notes:</label>
              <textarea class="form-control" rows="6" id="note-text"></textarea>
            </div>
            <a class="btn btn-primary ladda-button" data-style="expand-right" id="submit-text">Submit Text</a>
          </form>
        </div>

        <br>
        <br>
        <br>
        <label id="filename" for="comment">Link to file:</label>
        <br>
        <!-- <form role="form"> -->
          <input class="form-control" placeholder="Link/URL" id="note-file">
          <a class="btn btn-primary ladda-button" data-style="expand-right" id="submit-file">Submit File</a>
        <!-- </form> -->
      </div><!-- /.row -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/upload.js"></script>

    <!-- button loading spinner -->
    <link rel="stylesheet" href="/css/ladda-themeless.min.css">
    <script src="/js/spin.min.js"></script>
    <script src="/js/ladda.min.js"></script>
  </body>
</html>
